@{
    ViewData["Title"] = "Curriculum";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <div class="alert alert-success" role="alert"> 
     Programacion Computacional l
    </div>
    
</div>

<div id="Principal">
    <h2>Sofia Gissell Hernandez Ascencio</h2>
    <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/209021539_557013521961943_8666171045070592659_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ahsrB4kABR8AX_PJ1kd&_nc_ht=scontent.fsap8-1.fna&oh=9a06bcd0789703725ba44f47975b88ab&oe=61A47042" id="Mi foto" width="150"  aling="left">

    

</div>

