@{
    ViewData["presentacion Personal"] = "Presentacion Personal";
}
<h1>@ViewData["Caracteristicas"]</h1>

<h2>Sofia Gissell Hernandez Ascencio</h2>
<img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/174689993_520465472283415_7932172847687308949_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=174925&_nc_ohc=6sq_XX1VbDwAX9J0Rkf&_nc_oc=AQlt88dXAg2jNf8Rdfga_LiWBzOGCfFFXRitDOy8fkd7QfYB2xLJuDyAmGrcr3oOIag&_nc_ht=scontent.fsap8-1.fna&oh=115e8e577218d126a3e0e756d841be21&oe=61A51DEB" id="Mi foto" width="150"  aling="left">


<fieldset>
    <legend>Caracteristicas</legend>
    <ul>
        <li>Altura: 1.57</li>
        <li>Color de piel: Trigueña</li>
        <li>Fecha de Nacimiento: 10 de enero del 2004</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Jovis</legend>
    <ul>
        <li>Hacer Ejercicio.</li>
        <li>Hablar y salir con mi familia.</li>
        <li>Escuchar musica.</li>
    </ul>
</fieldset>